.conte {
  width: 90%;
  height: 450px;
  background-color: #c4c4c4;
  margin: 100px auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.img-cont {
  max-width: 350px;
  min-width: 250px;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-avatar {
  position: relative;
  width: 100%;
}
.text-cont {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texto {
  height: auto;
  width: 90%;
  position: relative;
  margin: 0px 0px 0px 0px;
  color: #272b2f;
  font-weight: 600;
  font-size: 16px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.cv {
  margin-top: 40px;
  user-select: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 35px 10px 35px;
  background-color: #272b2f;
  color: #d3d3d3;
  border-radius: 2px;
  border: none;
  list-style: none;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s ease;
}
.cv:hover {
  background-color: #1b1e21;
  transition: 0.2s ease;
}

@media screen and (min-width: 1400px) {
  .conte {
    width: 1200px;
    margin: 200px auto 200px auto;
  }
}
@media screen and (max-width: 1000px) {
  .conte {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 100px 0px 100px 0px;
    width: 100%;
  }
  .texto {
    height: auto;
    width: 80%;
    position: relative;
    margin: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
