.container-contact {
  position: relative;
  bottom: 0px;
  padding-top: 15px;
  height: 230px;
  user-select: none;
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.container-contact::before {
  content: '';
  background-image: url('../img/trama.png');
  background-attachment: fixed;
  background-position: top;
  background-size: 1672px 600px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.contact-links {
  width: 100%;
  padding: 8px 0px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}
.contact-title {
  width: 100%;
  margin: 0px;
  text-align: center;
  color: #c4c4c4;
  letter-spacing: 2px;
  font-weight: 700;
  user-select: none;
}
.img-github,
.img-gmail {
  width: 55px;
  height: 55px;
  user-select: none;
  margin: 0px 25px;
}
.img-linkedin {
  width: 45px;
  height: 45px;
  user-select: none;
  margin: 0px 25px;
}
.btn-gmail {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: fit-content;
}
.tooltip-gmail {
  visibility: hidden;
  width: 140px;
  background-color: #c4c4c4;
  color: #272b2f;
  text-align: center;
  border-radius: 2px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: -23px;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-gmail::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #c4c4c4 transparent;
}
.btn-gmail:hover .tooltip-gmail {
  visibility: visible;
  opacity: 1;
}
.copyright {
  grid-row-start: 3;
  text-align: center;
  color: #c4c4c4;
}

@media screen and (max-width: 1000px) {
  .container-contact::before {
    content: '';
    background-image: url('../img/trama.png');
    background-attachment: fixed;
    background-position: bottom;
    background-size: 1672px 600px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
  }
}
