@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #272b2f;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  background-color: #222629;
  width: 10px;
}
::-webkit-scrollbar-corner {
  background-color: #222629;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  width: 10px;
}

.h-proyects {
  height: 700px;
}

.btn-gmail {
  position: relative;
  opacity: 1;
}

.tooltip-mail {
  visibility: hidden;
  background-color: #c4c4c4;
  color: #272b2f;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  width: 150px;
  left: -115%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-gmail-show {
  visibility: visible !important;
  opacity: 1 !important;
}
